##########################
##### Common aliases #####
##########################

# Color outputs
alias grep='grep --color=always'
alias tmux='tmux -2'

alias ipl='ipython --pylab'
alias qp='python'
alias temacs='emacs -nw'
alias bemacs='TERM=xterm emacs -nw' # for TTY

alias findgrep='find . | xargs grep'
alias lst='date;ls -lt | head'
alias spacerm="find -name '* *' -type f | rename 's/ /_/g'"


###############################
##### OS Specific aliases #####
###############################

if [[ $(uname) == 'Darwin' ]]; then
    alias ls='ls -AhFG'
elif [[ $(uname) == 'Linux' ]]; then
    alias ls='ls -AFh --color'
    alias nautilus='nautilus --no-desktop' # to avoid nautilus killing feh wallpaper
    alias sudop='sudo env PATH=$PATH'      # Let sudo use my path
    alias sudo='sudo '                     # the space tells it respect aliases from this file
    alias lp2='lp -o sides=two-sided-long-edge'
    alias bc='bc -l'
fi
