##########################
##### Common aliases #####
##########################

alias sudo='sudo ' # the space tells it respect aliases from this file

# Color outputs
alias grep='grep --color=always'
alias tmux='tmux -2'
alias ls='ls -AhFG'

alias bc='bc -l'

alias findgrep='find . | xargs grep'
alias lst='date;ls -lt | head'
alias spacerm="find -name '* *' -type f | rename 's/ /_/g'"