Config { font = "-misc-fixed-*-*-*-*-13-*-*-*-*-*-*-*"
       , bgColor = "#0e0e0e"
       , fgColor = "grey"
       , position = Static { xpos = 0 , ypos = 0 , width = 1152 , height = 18 }
       , commands = [ Run MultiCpu ["-t","<total0>% <total1>%","-L","15",
                                    "-H","50","--normal","green","--high",
                                    "red"]
                                   10
                    , Run Date "%a %b %_d %Y %l:%M:%S" "date" 10
                    , Run StdinReader
                    , Run BatteryP ["BAT0"] ["-t","<left>% (<acstatus>)","-L","25","-H",
                                   "85","--low","red","--normal","grey",
                                   "--high","green","--",
                                   "-c","/sys/class/power_supply/BAT0/energy_full",
                                   "-f","/sys/class/power_supply/ADP1/online"]
                                  600
                    ]
       , template = "%StdinReader% }{ %multicpu% | %battery% | %date%"
       }
